# Ignore the node_modules directory
dataset/data/
*__pycache__/

# Ignore Logs
logs
*.log

# Ignore models
*.pth

# Ignore the build directory
/dist
/checkpoints
/runs

# Ignore IDE specific files
.idea/
